{% extends 'base.html.twig' %}

{% block title %}Payment Cancelled{% endblock %}

{% block body %}
<h1 class="text-center text-red-600">Payment Cancelled</h1>
<p class="text-center">Your payment was cancelled. Please try again.</p>
{% endblock %}
