{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
<h1 class="text-center text-green-600">Payment Successful</h1>
<p class="text-center">Thank you for your booking!</p>
{% endblock %}
